@model IEnumerable<WebAplicationTestMVC.Models.StudySet>

@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Study Sets</title>
    <link href="~/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site2.css" asp-append-version="true" />

</head>
<body>
<div class="waveWrapper waveAnimation">
    <div class="waveWrapperInner bgTop">
        <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
    </div>
    <div class="waveWrapperInner bgMiddle">
        <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
        <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
    </div>
</div>

    <div class="container-fav">
        <h2>Favorite Study Sets</h2>
  
        @foreach (var favoriteStudySet in Model)
        {
            <div class="col-sm- set-box" style="position: relative; background-color: @(favoriteStudySet.Color.ToString().ToLower());">
                <a style="text-decoration: none;" asp-area="" asp-controller="StudySet" asp-action="StudySets" asp-route-studySetName="@favoriteStudySet.StudySetName">
                    <div class="set-name">@favoriteStudySet.StudySetName</div>
                </a>
            </div>
        }
    </div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
        function removeFromFavorites(studySetId) {
            $.ajax({
                url: '/StudySet/RemoveFromFavorites',
                type: 'POST',
                data: { id: studySetId },
                success: function (response) {
                    alert("Study Set removed from favorites.");
                    location.reload();
                },
                error: function () {
                    alert('Error removing from favorites.');
                }
            });
        }
    </script>

</body>
</html>
