@model WebAplicationTestMVC.Models.StudySet
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<h1>Make a Flashcard</h1>
<div class="waveWrapper waveAnimation">
    <div class="waveWrapperInner bgTop">
        <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
    </div>
    <div class="waveWrapperInner bgMiddle">
        <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
        <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
    </div>
</div>
@using (Html.BeginForm("SubmitNewFlashcard", "Flashcards", FormMethod.Post))
{
    <label class="QuestionAnsw" for="question">FlashCard Question:</label>
    <br>
    <textarea id="question" name="question" rows="7" cols="100" placeholder="Where does England keep their armies?" required></textarea>
    <br>
    <br>
    <label class="answerQues" for="answer">FlashCard Answer:</label>
    <br>
    <textarea id="answer" name="answer" rows="7" cols="100" placeholder="In their sleevies!" required></textarea>
    <br>
    <br>
    <input type="hidden" id="studySetName" name="studySetName" value="@Model.StudySetName" />
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-primary" asp-area="" asp-controller="StudySet" asp-action="StudySets" asp-route-studySetName="@Model.StudySetName">Back</a>

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    }
}
</br>
<button class="btn btn-primary" onclick="Fill()">Auto_Fill</button>

<script>
    async function Fill() { 
        try {
            const response = await fetch('https://opentdb.com/api.php?amount=1&category=9&difficulty=easy&type=multiple');
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            const data = await response.json();

            $('#question').val("");
            $('#answer').val("");
            $('#question').val(data.results[0].question);
            $('#answer').val(data.results[0].correct_answer);
        } catch (error) {
            console.error('Error fetching data:', error.message);
        }
    }
</script>
