@{
}﻿
@model List<WebAplicationTestMVC.Models.FlashcardDTO>

<!DOCTYPE html>
<html manifest="cache.manifest">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Flashcards</title>
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/rsc.css" asp-append-version="true" />
    <div class="waveWrapper waveAnimation">
        <div class="waveWrapperInner bgTop">
            <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
        </div>
        <div class="waveWrapperInner bgMiddle">
            <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
        </div>
        <div class="waveWrapperInner bgBottom">
            <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
        </div>
    </div>
    <style>
        .question-text {
            font-size: 28px;
        }

        div#three-items {
            text-align: center;
        }

        #answer-content {
            display: none;
            flex-direction: column;
            align-items: center;
        }

        #flashcard-container {
            perspective: 1000px;
            width: 75em;
            height: 20em;
            margin: 50px auto;
            position: relative;
            border: groove;
            border-radius: 50px;
        }

        .flashcard-content {
            flex-direction: column;
            align-items: center;
        }

        .flashcard-footer {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        .dropdown-container {
            position: relative;
            display: inline-block;
        }

        .dot {
            width: 20px;
            height: 20px;
            background-color: #3498db;
            border-radius: 50%;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1;
                }

        #three-items, .btn-warning, .btn-success {
            display: none;
        }
    </style>
</head>
<body>
    <hr class="soften" />
    <div id="bad-indicator" class="flashcard-content" style="background-color: red;"></div>
    <div id="good-indicator" class="flashcard-content" style="background-color: green;"></div>

    <div id="flashcard-container">
        <div class="dropdown-container">
            <div class="dot" onclick="$('.dropdown-content').toggle();"></div>
            <div class="dropdown-content">
                <a style="color:brown" href="#" onclick="editFlashcard()">Edit this flashcard</a>
                <a style="color:red" href="#" onclick="deleteFlashcard()">Ignore this flashcard</a>
            </div>
        </div>
        <div id="three-items" style="display:none;">
            <div class="row">
                <div align="left" class="col-sm-2" style="margin-left: 20px">
                    <h5 id="time"></h5>
                    <h5 id="card-time"></h5>
                </div>
                <div class="col-sm-8">
                    <div id="question" class="flashcard-content">
                        <div id="question-text"></div>
                        <button type="button" class="btn btn-primary btn-lg" onclick="showAnswer()">Show answer</button>
                    </div>
                    <div id="answer-content" class="flashcard-content">
                        <button type="button" class="btn btn-primary btn-lg" onclick="hideAnswer()">Hide answer</button>
                        <div id="answer-text"></div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
    <div class="flashcard-footer">
        <button type="button" class="btn btn-start btn-lg" onclick="startLearning()">Start</button>
        <button type="button" class="btn btn-warning btn-lg" onclick="showNext(false)">Bad</button>
        <button type="button" class="btn btn-success btn-lg" onclick="showNext(true)">Good</button>
    </div>
    <hr class="soften" />
    <script src="static/js/jquery-2.1.0.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/flashcard-ahhh.js"></script>
    <script>
        let currentIndex = -1;
        let cards = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        var studyStartTime;
        let isWaitingForGood = false;
        cards.forEach(card => card.goodCount = 0);
        let cardTime = @ViewBag.time;
        let flag = true;
        let cardFlag = true;

        function startLearning() {
            $('#time').text("Total time: 0");
            $.post("/Flashcards/GetCurrentTime").done(function (data) {
                studyStartTime = data;
                shuffle(cards);
                $('.btn-start').hide();
                $('.btn-warning, .btn-success, #three-items').show();
                currentIndex = 0;
                count();

                if (cardTime > 0) {
                    $('#card-time').text("remaining time: " + cardTime);
                    decrement();
                }

                showNext();
            });
        }

        function shuffle(array) {
            for (let i = array.length - 1; i > 0; i--) {
                let j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        function showNext(isGood) {

            if (@ViewBag.time > 0) {
                cardTime = @ViewBag.time;
                $('#card-time').text("remaining time: " + cardTime);
            }

            if (isGood) {
                cards[currentIndex].goodCount += 1;
            } else {
                let badCard = cards[currentIndex];
                cards.splice(currentIndex, 1); 

                if (cards.length >= 4) {
                    let newPosition = currentIndex + 3;
                    cards.splice(newPosition, 0, badCard);
                } else {
                    cards.push(badCard);
                }
            }
            currentIndex++;

            if (currentIndex >= cards.length) {
                currentIndex = 0;
                const allGood = cards.every(card => card.goodCount >= 2);

                if (allGood) {
                    flag = false;
                    studyEndTime = new Date();
                    const studyTime = 'You have finished the cards.'
                    alert(studyTime);
                    return; 
                } else {
                    currentIndex = 0;
                }
            }
            if (currentIndex < cards.length) {
                $('#question-text').text(cards[currentIndex].Question);
                $('#answer-text').text(cards[currentIndex].Answer);
                hideAnswer();
            }
        }

        async function count() {
            $.post("/Flashcards/CountUp", {
                startTime: studyStartTime
            }).done(function (data) {
                time = data;
                $('#time').text("Total time: " + time);
                if (flag) {
                    count();
                }
            });
        }

        async function decrement() {
            $.post("/Flashcards/CountDown", {
                time: cardTime
            }).done(function (data) {
                if (flag && cardFlag) {

                    if (data < 0) {
                        showNext(false);
                    } else
                        cardTime--;

                    $('#card-time').text("remaining time: " + cardTime);
                    decrement();
                }
            });
        }

        function showAnswer() {
            $('#answer-content').show();
            $('#question .btn-primary').hide();
        }

        function hideAnswer() {
            $('#answer-content').hide();
            $('#question .btn-primary').show();
        }

        function editFlashcard() {
            let newQuestion = prompt("Enter the updated question:", cards[currentIndex].Question);
            let newAnswer = prompt("Enter the updated answer:", cards[currentIndex].Answer);

            if (newQuestion !== null && newAnswer !== null) {
                cards[currentIndex].Question = newQuestion;
                cards[currentIndex].Answer = newAnswer;
                $('#question-text').text(newQuestion);
                $('#answer-text').text(newAnswer);

              
                $.post("/Home/EditCard", {
                    Id: cards[currentIndex].Id,
                    Question: newQuestion,
                    Answer: newAnswer
                });
            }
        }

        function deleteFlashcard() {
            if (confirm("Are you sure you want to delete this flashcard?")) {
                let cardIdToDelete = cards[currentIndex].id;
                cards.splice(currentIndex, 1);

                if (cards.length === 0) {
                    alert('No more flashcards available.');
               
                } else {
                    if (currentIndex >= cards.length) {
                        currentIndex--;
                    }
                    showNext(true);
                }
           
                $.post("/Home/DeleteCard", { Id: cardIdToDelete });
            }
        }
    </script>
</body>
</html>