@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html manifest="cache.manifest">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Flashcards</title>
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .question-text {
            font-size: 28px
        }
    </style>
</head>
<body>

    @* <a class="nav-link text-dark" asp-area="" asp-page="/Flashcards">Flashcards</a>
 *@
    <div>
        <p>Study sets</p>
    </div>

    <div>
        <button id="createStudySet" class="btn btn-info">+ Create Study Set</button>
    </div>

    @await Html.PartialAsync("_ModalPartial")

    @section Scripts {
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>
            $(document).ready(function () {
                $("#createStudySet").click(function () {
                    $('#myModal').modal('show');
                });

                $("#saveStudySet").click(function () {
                    var studySetName = $("#name").val();
                    // Add logic to save the study set
                });
            });
        </script>
    }
</body>
</html>
