@page
@model WebApplikacija.Pages.StudySetModel
@{
    string studySet = Request.Query["setName"];
}
<!DOCTYPE html>
<html manifest="cache.manifest">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@studySet.Substring(0, studySet.Length - 5)</title>@* the name should be as written by the user *@
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .question-text {
            font-size: 28px
        }
    </style>
</head>
<body>
    <h2>@studySet.Substring(0, studySet.Length - 5)</h2>@* the name should be as written by the user *@

        <hr class="soften" />
    <h3> All flashcards</h3>
        <a class="btn btn-primary" asp-area="" asp-page="/AddFlashcard">Create flashcards manually</a>
        <a class="btn btn-primary" asp-area="" asp-page="/StudySet">Import flashcards</a>
        <a class="btn btn-primary" asp-area="" asp-page="/Flashcards">Learn flashcards</a>

    <br>
    <br>
    <div class="row">
        @foreach (var flashcard in Model.flashcards)
        {
            <div class="col-sm-1 card">Question:   </div>
            <div class="col-sm-11 card">@flashcard.question</div>
        }
    </div>

</body>
</html>
