@model List<WebAplicationTestMVC.Models.StudySet>

<!DOCTYPE html>
<html manifest="cache.manifest">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Flashcards</title>
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <style>
        .question-text {
            font-size: 28px;
        }

        #myForm {
            display: none;
        }

        #search{
            text-align: end;
        }


    </style>
</head>
<body>
    <div class="container">
        <h2>Study sets</h2>
        <form class="search-container" method="post" asp-controller="StudySet" asp-action="SearchStudySet">
            <input class="search-input" type="text" name="studySetName" placeholder="Search for study set" />
            <button class="search-button" type="submit">&#x1F50E;&#xFE0E;</button>
        </form>
    </div>


    <div>
        <button id="createStudySet" class="btn btn-info">+ Create Study Set</button>
        <button id="showFormButton" class="btn btn-info">+ Import Flashcard Set</button>
        <form id="myForm" method="post" enctype="multipart/form-data" asp-controller="StudySet" asp-action="ImportDB">
            <label for="file">Upload flashcards:</label>
            <input type="file" name="file" id="file" required accept=".xlsx" />
            <button type="submit" class="btn btn-warning">Import</button>
        </form>
    </div>
    
    <br>
    <br />

    <form 
        m" method="post" asp-controller="StudySet" asp-action="CreateStudySet">
        <input type="text" name="studySetName" placeholder="Enter study set name" required />
        <button type="submit" class="btn btn-success">Create Study Set</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            
            $("#createStudySetForm").submit(function (e) {
                e.preventDefault(); 
                var form = this;
                var studySetName = form.querySelector('input[name="studySetName"]').value;

                if (studySetName) {
                   
                    $.post(form.action, { studySetName: studySetName }, function (data) {
                     
                        console.log(data);
                       
                        location.reload();
                    });
                } else {
                    alert('Please enter a name for the study set.');
                }
            });
           
            $("#showFormButton").click(function () {
                var form = $("#myForm");
                form.toggle();
            });
         
            $("#createStudySet").click(function () {
                $('#myModal').modal('show');
            });

            $("#saveStudySet").click(function () {
                var studySetName = $("#name").val();

                if (studySetName) {
                 
                    var studySets = JSON.parse(localStorage.getItem('studySets') || '[]');
                    studySets.push(studySetName);
                    localStorage.setItem('studySets', JSON.stringify(studySets));
                  
                    $('#myModal').modal('hide');
                } else {
                    alert('Please enter a name for the study set.');
                }
            });
        });
    </script>

    <div class="row">
        @foreach (var studySet in Model)
        {
            <a class="col-sm- set-box"
               style="background-color: @(studySet.Color.ToString().ToLower());text-decoration: none;"
               asp-area="" asp-controller="StudySet" asp-action="StudySets" asp-route-studySetName="@studySet.StudySetName">
                <div class="set-name">@studySet.StudySetName</div>
            </a>
        }
    </div>

    @await Html.PartialAsync("_ModalPartial")
</body>
</html>
