<!DOCTYPE html>
<html manifest="cache.manifest">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Flashcards</title>
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/loader.css" />
    <link rel="stylesheet" href="/css/calendar.css" />

    <style>
 

        .button-bar {
            text-align: center;
            margin-bottom: 20px;
        }

        .button-bar button {
            margin: 0 10px;
        }
    </style>
</head>
<body>
    <div id="calendar"></div>
    <script src="/js/calendar.js"></script>


    <div class="button-bar">
        <a class="btn btn-info" asp-area="" asp-controller="StudySet" asp-action="StudySetsLibrary"> Study sets library </a>
        <a class="btn btn-info" asp-area="" asp-controller="StudySet" asp-action="FavoriteStudySet"> Favorites </a>
    </div>

</body>
</html>
