@model List<WebAplicationTestMVC.Models.StudySet>
@{

}

<!DOCTYPE html>
<html manifest="cache.manifest">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Flashcards</title>
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .question-text {
            font-size: 28px
        }

        #myForm {
            display: none;
        }
    </style>
</head>
<body>

    <div>
        <p>Study sets</p>
    </div>

    <div>
        <button id="createStudySet" class="btn btn-info">+ Create Study Set</button>
        <button id="showFormButton" class="btn btn-info">+ Import Flashcard Set</button>
        <form id="myForm" method="post" enctype="multipart/form-data" asp-controller="StudySet" asp-action="ImportDB">
            <label for="file">Upload flashcards:</label>
            <input type="file" name="file" id="file" required accept=".xlsx" />
            <button type="submit" class="btn btn-warning">Import</button>
        </form>
    </div>
    

    <div class="row">
        @foreach (StudySet studySet in Model)
        {
            <a class="col-sm- set-box"
               style="background-color: @(studySet.Color.ToString().ToLower());text-decoration: none;"
               asp-area="" asp-controller="StudySet" asp-action="StudySets" asp-route-studySetName="@studySet.studySetName">
                <div class="set-name">@studySet.studySetName.Substring(0, studySet.studySetName.Length - 5) *</div>
            </a>

        }
    </div>

    @await Html.PartialAsync("_ModalPartial")

    @section Scripts {
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>
            document.getElementById('showFormButton').addEventListener('click', function () {
                var form = document.getElementById('myForm');
                if (form.style.display === 'none') {
                    form.style.display = 'block';
                } else {
                    form.style.display = 'none';
                }
            });
            $(document).ready(function () {
                $("#createStudySet").click(function () {
                    $('#myModal').modal('show');
                });

                $("#saveStudySet").click(function () {
                    var studySetName = $("#name").val();

                    if (studySetName) {
                        // Save to local storage
                        var studySets = JSON.parse(localStorage.getItem('studySets') || '[]');
                        studySets.push(studySetName);
                        localStorage.setItem('studySets', JSON.stringify(studySets));

                        // Close the modal
                        $('#myModal').modal('hide');
                    } else {
                        alert('Please enter a name for the study set.');
                    }
                });
            });
        </script>
    }

</body>
</html>
