@using WebAplicationTestMVC.Utilities
@model WebAplicationTestMVC.Models.StudySet
@{
    if (Model.studySetName == null)
    {
        Model.studySetName = "All flashcards.xlsx";
    }
    List<Flashcard> flashcards = ExcelHelper.getExcelData(@"Data/" + Model.studySetName);
}
<!DOCTYPE html>
<html manifest="cache.manifest">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Study set</title>
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .question-text {
            font-size: 28px
        }
    </style>
</head>
<body>
    <h2>
        @Model.studySetName.Substring(0, Model.studySetName.Length - 5)
    </h2>

    <hr class="soften" />
    <h3> All flashcards</h3>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="AddFlashcard" asp-route-studySetName="@Model.studySetName">Create flashcards manually</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="ImportDB">Import flashcards</a>@*flaschcards should import*@
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Flashcards">Learn flashcards</a>

    <br>
    <div class="row">
        @foreach (var flashcard in flashcards)
        {
            <div class="col-sm-1 card">Question:   </div>
            <div class="col-sm-11 card">@flashcard.question</div>
        }
    </div>
</body>
</html>
