

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
header.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
.dark-mode .navbar {
    background-color: #333;
}

/* Style the <a> element */
/* Style the <a> element */
a.col-sm.set-box {
    border-style: inset;
    border-color: darkturquoise;
}
.modal-content{
    color:black;
}
.checking-site {
    text-align: center;
}
.row {
    color: black;
}
.set-box {
    background-color: #9b5faa;
    width: 200px;
    height: 200px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 25px;
    align-items: center;
    display: grid;
    text-align: center;
}

.set-name {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    background: #9f9f9f6e;
    border-block: none;
    padding: 0;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
}

    .set-name::before,
    .set-name::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 0;
        background-color: #fff;
        left: 0;
        z-index: -1;
        transition: all .25s;
    }

    .set-name::before {
        top: 50%;
    }

    .set-name::after {
        bottom: 50%;
    }

    .set-name:hover {
        color: #639;
    }

        .set-name:hover::before,
        .set-name:hover::after {
            height: 50%;
        }

body {
    background-color: #f1faee;
}

h2 {
    color: #1d3557;
    font-family: 'Roboto Condensed', sans-serif;
}


button.btn.btn-success {
    background-color: #457b9d;
    border-radius: 100px;
    box-shadow: #457b9d;
    color: #f1faee;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    button.btn.btn-success:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }

    button.btn.btn-success:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
        transform: translateY(-2px);
    }

    button.btn.btn-success:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
    }

button.btn.btn-info {
    background-color: #1d3557;
    border-radius: 100px;
    box-shadow: #457b9d;
    color: #f1faee;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    button.btn.btn-info:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }

    button.btn.btn-info:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
        transform: translateY(-2px);
    }

    button.btn.btn-info:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
    }

header {
    background-color: #a8dadc;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.search-container {
    display: flex;
    justify-content: right;
    width: 300px;
    margin: 20px 0;
}
.search-button {
    padding: 10px;
    border: none;
    background-color: #a8dadc;
    color: white;
    border-radius: 0 20px 20px 0; 
    cursor: pointer;
}

.search-input {
    flex: 1;
    padding: 10px;
    background-color: #a8dadc;
    border: 1px solid #a8dadc;
    border-radius: 20px 0 0 20px; /* Rounded corners on the left */
}

