<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Flashcards</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" /> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Pacifico&family=Poppins:ital@1&family=Roboto+Condensed:ital@1&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Dark Mode Styles -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="@ViewData["DarkModeClass"]">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-action="">Flashcards</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <form id="darkModeForm" method="post" asp-action="ToggleDarkMode">
                                @Html.AntiForgeryToken()
                                <button id="darkModeButton" type="button">Toggle Dark Mode</button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">Study Sets Library</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="createStudySetLink" asp-area="" asp-controller="Home" asp-action="Index">Create Study Set</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="StudySet" asp-action="StudySets">All Flashcards</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("_ModalPartial")

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Flashcards - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  
    @await RenderSectionAsync("Scripts", required: false)
    <script>


 
        function toggleDarkMode() {
            const body = document.body;
            const isDarkModeEnabled = body.classList.toggle("dark-mode");


            localStorage.setItem("darkModeEnabled", isDarkModeEnabled);
        }

 
        document.addEventListener("DOMContentLoaded", function () {
            const body = document.body;
            const isDarkModeEnabled = localStorage.getItem("darkModeEnabled") === "true";

            if (isDarkModeEnabled) {
                body.classList.add("dark-mode");
            } else {
                body.classList.remove("dark-mode");
            }
        });


        document.getElementById("darkModeButton").addEventListener("click", toggleDarkMode);
    </script>
    <script>
        
        $(document).ready(function () {
            $("#createStudySetLink").click(function (e) {
                e.preventDefault(); 
                $('#myModal').modal('show'); 
            });

            $("#saveStudySet").click(function () {
                var studySetName = $("#name").val();

            });
        });
    </script>

</body>
</html>